@{
    ViewBag.Title = "Login";
}

@{
    dynamic form = new DynamicForm(new LoginForWeb());
}

@if (ViewBag.Flash != null)
{
    <div class="alert-message error">
        <a class="close" href="#">×</a>
        <p>@ViewBag.Flash</p>
    </div>
}

@using (Html.BeginForm("Login", "User", FormMethod.Post, new { @class = "well form-horizontal" }))
{
    <legend>Login</legend>

    <br />
    
    <div class="control-group">
        <label class="control-label" for="Username">Username</label>
        <div class="controls">
            @OakForm.TextBox(form.Username(new Hash { { "placeholder", "Username" }, { "class", "span4" }, { "display", "block" } }))
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="Password">Password</label>
        <div class="controls">
            @OakForm.Password(form.Password(new Hash { { "placeholder", "Password" }, { "class", "span4" }, { "display", "block" } }))
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for=""></label>
        <input type="submit" value="Login" class="btn btn-inverse span3" style="margin-left: 20px;" />
    </div>
}



