body {
    background-color: white;
}

#top {
    background-color: black;
    color: white;
    text-align: right;
    padding-right: 50px;
    border-bottom: 1px solid grey;
}

    #top a {
        color: white;
    }
    #top a:hover {
        color: silver;
        text-decoration: underline;
    }
    #top a:visited {
        color: white;
        text-decoration: none;
    }

.separator {
    font-weight:bold;
    padding-left: 5px;
    padding-right: 5px;
}

#wrapper {
    width: 80%;
    border-left: 2px solid black;
    min-height: 500px;
    margin: auto;
    padding: 20px;
}   
